@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	background: #97E0C2;
	background: url(../images/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1920px 1800px;
}

.main_container {
	width:100%;
	border:0px solid red;
	height:1080px;
}

.top_container {
	height:80px;
	line-height:80px;
	font-size:25px;
	color:#fff;
	width:100%;
	background:#169dd6;
	clear:both
}

.left_container {
	width:15%;
	height:1000px;
	background:#cbdde5;
	float:left
}

.right_container {
	width:85%;
	height:1000px;
	background:#f2f2f2;
	float:left
}

.logincontainer {
	width: 350px;
	height: 210px;
	margin: 0px auto;
	margin-top: 580px;
	border: 1px solid black;
	background: #effcfc;
	margin: 0px auto;
}

.logintitle {
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #2874ba;
	color: #fff;
}

.logincontainer table {
	width: 100%
}

.logincontainer td {
	height: 28px;
	padding-left: 10px;
}

.newsgrid {
	width: 500px;
	border: 0px;
	margin: 0px auto;
	border-right: 1px solid #dedede;
}

.h {
	background: #2874ba;
	color: #fff;
}

.newsgrid a {
	color: #000;
	text-decoration: none;
}

.newsgrid a:hover {
	color: #ff0000
}

.newsgrid td {
	border-left: 1px solid #dedede;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	text-align: center
}

.querylayer {
	position: absolute;
	width:85%;
	height: 800px;
	background: #f1f1f1;
	display: none;
	top:80px;
	
}